{% extends "base.html" %}
{% load static %}
{% block title %}Add Activity{% endblock %}
{% block content %}

{% include 'navbar.html' %}

<section class="container-fluid d-flex flex-wrap align-content-center ">
	<div class="section-title mx-auto text-center p-5"> 
		ADD NEW ACTIVITY
	</div>

	<form action="" method="post" novalidate>
		{% csrf_token %}
		<table class="table mx-5" style="width:90vw">
			{{ form.as_table }}
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" value="Submit" class="btn btn-primary click"></td>
			</tr>
		</table>
	</form>

</section>


{% endblock content %}