html {
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}
section {
	min-height: 100vh;
	width: 100vw;
	scroll-snap-align: start;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/* desc text */
body {
	/* background: #F4D35E; */
	color: #D35E71;
	font-family: "Open Sans", sans-serif;
  }
  
  /* socmed link */
  a {
	color: #FAF0CA;
  }
  
  a:hover, a:active, a:focus {
	color: #F4D35E;
	outline: none;
	text-decoration: none;
  }
  
  p {
	padding: 0;
	margin: 0 0 30px 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	margin: 0 0 20px 0;
	padding: 0;
  }
  


/*SECTION 1*/

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
	width: 100%;
	height: 100vh;
	background-size: cover;
	position: relative;
  }
  
  @media (min-width: 1024px) {
	#hero {
	  background-attachment: fixed;
	}
  }
  
  #hero:before {
	content: "";
	background: #E06679;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
  }
  
  #hero .hero-container {
	position: absolute;
	bottom: 0px;
	top: 0px;
	left: 20px;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
  
  }
  #hero .profpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    width: 13%;
}
  
  
  
  #hero h1 {
	margin: 0px 0 0px 0;
	top: 800px;
	font-size: 40px;
	font-weight: 700;
	line-height: 56px;
	/* text-transform: uppercase; */
	color: #fff;
  }
  
  @media (max-width: 768px) {
	#hero h1 {
	  font-size: 28px;
	  line-height: 36px;
	}
  }
  
  #hero h2 {
	color: #eee;
	margin-bottom: 50px;
	font-size: 24px;
  }
  
  @media (max-width: 768px) {
	#hero h2 {
	  font-size: 18px;
	  line-height: 24px;
	  margin-bottom: 0px;
	}
  }
  
  #hero .btn-get-started {
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 8px 28px;
	border-radius: 50px;
	transition: 0.5s;
	border: 2px solid #fff;
	color: #fff;
  }
  
  #hero .btn-get-started:hover {
	background: #F4D35E;
	border: 2px solid #F4D35E;
  }



  /*--------------------------------------------------------------
  # Sections
  --------------------------------------------------------------*/
  /* Sections Header
  --------------------------------*/
  .section-header .section-title {
	font-size: 32px;
	color: #FAF0CA;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	margin-bottom: 5px;
  }
  
  .section-header .section-description {
	text-align: center;
	padding-bottom: 40px;
	color: #FAF0CA;
  }



/*SECTION 2*/
#about {
	min-height: 100vh;
	max-width: 100vw;
    display: inline-block;
    justify-content: center;
    align-items:center;

	padding: 50px 50px 50px 50px;
	background-color:#F4D35E;
}
#about h3 {
	font-weight: bold;
	line-height: 50px;
	line-height: 159%;
	margin-top: 30px;
	font-size:32px;

	align-items: center;
	color: #ffffff;
}

#about h4 {
	font-weight: bold;
	line-height: 35px;
	line-height: 159%;
	font-size:22px;

	align-items: center;
	color: #ffffff;
}
#about h5 {
	font-size:22px;
	line-height: 159%;

	display:flex;
	align-items: center;
}
#about .profpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    width: 35%;
}
#about article  {
	padding: 25px 25px 0px 25px;
	font-family: "Open Sans", sans-serif;
}

#about .description{
	font-family: "Open Sans", sans-serif;
}

/* Education Section
--------------------------------*/
#education {
	background: #F4D35E;
	background-size: cover;
	padding: 80px 0 60px 0;
  }

  #education .section-title{
	  color: #FFFFFF;
  }
  
  #education .box {
	padding: 50px 20px;
	margin-bottom: 50px;
	text-align: center;
	border: 1px solid #e6e6e6;
	height: 200px;
	position: relative;
	background: #fafafa;
  }
  
  #education .icon {
	position: absolute;
	top: -36px;
	left: calc(50% - 36px);
	transition: 0.2s;
	border-radius: 50%;
	border: 6px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	width: 72px;
	height: 72px;
	background: #F4D35E;
  }
  
  #education .icon a {
	display: inline-block;
  }
  
  #education .icon i {
	color: #fff;
	font-size: 24px;
  }
  
  #education .box:hover .icon {
	background: #fff;
	border: 2px solid #F4D35E;
  }
  
  #education .box:hover .icon i {
	color: #F4D35E;
  }
  
  #education .box:hover .icon a {
	color: #F4D35E;
  }
  
  #education .title {
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 15px;
	text-transform: uppercase;
  }
  
  #education .title a {
	color: #E06679;
  }
  
  #education .description {
	font-size: 14px;
	line-height: 24px;
	font-family: "Open Sans", sans-serif;
  }
  
  #education .container-button[type="submit"]:hover {
	background: #F4D35E;
  }
  
  #education .btn-skills {
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 8px 28px;
	border-radius: 50px;
	transition: 0.5s;
	border: 2px solid #fff;
	color: #fff;
  }
  
  #education .btn-skills:hover {
	background: #E06679;
	border: 2px solid #E06679;
  }
  
  /* Activities Section
--------------------------------*/
#activities {
	background: #F4D35E;
	background-size: cover;
	padding: 80px 0 60px 0;
  }

#activities .section-title{
	color: #ffffff;
}
  
  #activities .member {
	text-align: center;
	margin-bottom: 20px;
	font-family: "Open Sans", sans-serif;
  }
  
  #activities .member .pic {
	margin-bottom: 15px;
	overflow: hidden;
	height: 260px;
  }
  
  #activities .member .pic img {
	max-width: 100%;
  }
  
  #activities .member h4 {
	font-weight: 700;
	font-family: "Open Sans", sans-serif;
	margin-bottom: 2px;
	font-size: 18px;
  }
  
  #activities .member span {
	font-style: italic;
	display: block;
	font-size: 13px;
	font-family: "Open Sans", sans-serif;
  }
  
  #activities .member .social {
	margin-top: 15px;
  }
  
  #activities.member .social a {
	color: #b3b3b3;
  }
  
  #activities .member .social a:hover {
	color: #F4D35E;
  }
  
  #activities .member .social i {
	font-size: 18px;
	font-family: "Open Sans", sans-serif;
	margin: 0 2px;
  }
  
  /* Contact Section
  --------------------------------*/
  #contact {
	background:#FAF0CA;
	padding: 80px 0 40px 0;
  }

  #contact .section-title{
	  color: #E06679;
  }
  
  #contact #google-map {
	height: 300px;
	margin-bottom: 20px;
  }
  
  #contact .info {
	color: #E06679;
  }
  
  #contact .info i {
	font-size: 32px;
	color: #F4D35E;
	float: left;
  }
  
  #contact .info p {
	padding: 0 0 10px 50px;
	margin-bottom: 20px;
	line-height: 22px;
	font-size: 14px;
  }
  
  #contact .info .email p {
	padding-top: 5px;
  }
  
  #contact .social-links {
	padding-bottom: 20px;
  }
  
  #contact .social-links a {
	font-size: 18px;
	display: inline-block;
	background: #E06679;
	color: #fff;
	line-height: 1;
	padding: 8px 0;
	border-radius: 50%;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.3s;
  }
  
  #contact .social-links a:hover {
	background: #F4D35E;
	color: #fff;
  }
  
  #contact .form #sendmessage {
	color: #F4D35E;
	border: 1px solid#F4D35E;
	display: none;
	text-align: center;
	padding: 15px;
	font-weight: 600;
	margin-bottom: 15px;
  }
  
  #contact .form #errormessage {
	color: red;
	display: none;
	border: 1px solid red;
	text-align: center;
	padding: 15px;
	font-weight: 600;
	margin-bottom: 15px;
  }
  
  #contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
	display: block;
  }
  
  #contact .form .validation {
	color: red;
	display: none;
	margin: 0 0 20px;
	font-weight: 400;
	font-size: 13px;
  }
  
  #contact .form input, #contact .form textarea {
	border-radius: 0;
	box-shadow: none;
	font-size: 14px;
  }
  
  #contact .form button[type="submit"] {
	background: #F4D35E;
	border: 0;
	padding: 10px 24px;
	color: #fff;
	transition: 0.4s;
  }
  
  #contact .form button[type="submit"]:hover {
	background: #F4D35E;
  }
  
/*SECTION 4*/
#more .right-side,
#section-e .right-side {
	min-height: 100vh;
    justify-content: center;
    align-items:center;
    text-align: center;

	padding: 50px 50px 50px 50px;
	background-color:#585858;
}
#more .contact {
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 37px;
	line-height: 37px;
	letter-spacing: 0.1em;

	color: #E06679;
	padding: 25px 0px 25px 0px;
}

#more .left-side {
	min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
	
	padding: 50px 25px 50px 25px;
	background-color:#F4D35E;
}
#more .click,
#section-e .click-2 {
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 25px;
	letter-spacing: 0.15em;

	text-align: center;
	justify-content: center;
    align-items:center;

	color: #F4D35E;

	width: 250px;
	height: 60px;
	background-color: #E06679;
	border: 1px solid #000000;
	border-radius: 20px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    transition: background-color .3s;
}
.click:hover{
	background-color: #585858 !important;
	color: #E06679 !important;
	text-decoration: none;
}
.click-2:hover {
	background-color: #F4D35E !important;
	color: #E06679 !important;
	text-decoration: none;
}
#more .col-sm-4{
	padding: 25px 25px 25px 25px;
}
#more .left-text{
	font-size: 24px;
	line-height: 60px;
	text-align: justify;
	justify-content: center;
    align-items:center;
}



#section-a {
    background-size: cover;
    background-position: center;
    
	min-height: 100vh;
	max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: baseline;
    padding: 0px;
}
#section-a .quote {
	font-family: 'Cookie', cursive;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	line-height: 39px;

	text-align: center;
	align-items: flex-end;
	justify-content: center;
	letter-spacing: 0.15em;

	width: 100vw;
	color: #FFFFFF;
	background-color: rgba(0,0,0,.7);
	margin: 0px;
	padding: 10px 0px 10px 0px;
}

.heading-1 {
	font-size: 24px;
	font-weight: bold;
	text-align: left;
}
.heading-2 {
	font-size: 19px;
	font-weight: bold;
	text-align: left;
	margin-bottom: 10px;
}
.paragraph {
	font-size: 19px;
	text-align: left;
}
.heading-1,
.heading-2,
.paragraph {
	text-align: justify;
	justify-content: center;
	padding: 0px 105px 0px 105px;
}
.image {
	max-width: 100%;
	margin: 0px 0px 20px 0px;
}
#section-b,
#section-c,
#section-d {
	min-height: 100vh;
	max-width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: center;
	
	padding: 20px 50px 20px 50px;
}

#section-c,
#section-e .left-side {
	background: #F4D35E;
}
#section-e .left-side,
#section-e .right-side {
	min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-weight: bold;
}
#section-e .click-2 {
	width: 300px;
}


@media (max-width: 991.98px) {
	#about .col-12  {
		margin: auto;
		padding: 30px 20px 0px 20px;
	}
	#about article {
		padding: 30px 0px 40px 0px;
	}
	#home .title {
		font-size: 45px;
	}
	#home .subtitle {
		font-size: 20px;
	}
	#education .pic {
		margin-bottom: 30px;
	}
	.heading-1,
	.heading-2,
	.paragraph {
		padding: 0px;
	}
	#section-a .quote {
		font-size: 25px;
		padding: 10px 10px 10px 10px;
	}
	.section-title{
		font-size: 35px;
	}
	#education {
		padding: 50px 28px 20px 28px;
	}
	.profpic {
		width: 50% !important;
	}
	.special {
		padding: 0px 2px 0px 2px;
	}
}

#section-e .btn {
	background-color: #F4D35E;
}

.btn {
	background-color: #E06679;
	border: 1px black;
	font-size:17px;
	font-color:black;
}
.dropdown .btn {
	border-top-left-radius: 0rem;
	border-top-right-radius: 0rem;
}