{% extends "base.html" %}
{% load static %}
{% block title %}Add Subject{% endblock %}
{% block content %}

{% include 'navbar.html' %}

<section class="container-fluid d-flex flex-wrap align-content-center ">
{% if submitted %}
	<div class="success p-5 col-12 text-center">
		Your subject was submitted successfully. Thank you :)
	</div>

	<button class="btn btn-primary d-flex m-auto click"> 
		<a href="{% url 'story5:subject' %}" class="text-white">
			Back to Subject List
		</a>
	</button>
{% else %}
	<div class="section-title mx-auto text-center p-5"> 
		ADD SUBJECT
	</div>

	<form action="" method="post" novalidate>
		{% csrf_token %}
		<table class="table mx-5" style="width:90vw">
			{{ form.as_table }}
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" value="Submit" class="btn btn-primary click"></td>
			</tr>
		</table>
	</form>
{% endif %}

</section>

{% endblock content %}