{% extends 'base.html' %}
{% load static %}
{% block title %} {{ subject.matkul }} {% endblock %}

{% block content %}
{% include 'navbar.html' %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">Navbar</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
  
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	  <ul class="navbar-nav mr-auto">
		<li class="nav-item active">
		  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="#">Link</a>
		</li>
		<li class="nav-item dropdown">
		  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Dropdown
		  </a>
		  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="#">Action</a>
			<a class="dropdown-item" href="#">Another action</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="#">Something else here</a>
		  </div>
		</li>
		<li class="nav-item">
		  <a class="nav-link disabled" href="#">Disabled</a>
		</li>
	  </ul>
	  <form class="form-inline my-2 my-lg-0">
		<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	  </form>
	</div>
  </nav>
	<section class="container-fluid d-flex flex-wrap align-content-center ">
		<div class="section-title m-auto text-center"> 
			{{ subject.matkul }}
		</div>
  	  <table class="table table-bordered mx-5" style="width:90vw">
		<tbody>
			<tr>
				<td> <b> Lecturer </b> </td>
				<td> {{ subject.dosen }} </td>
			</tr>
			<tr>
				<td> <b> Credit(s) </b> </td>
				<td> {{ subject.sks }} </td>
			</tr>
			<tr>
				<td> <b> Term </b> </td>
				<td> {{ subject.semester }} </td>
			</tr>
			<tr>
				<td> <b> Classroom </b> </td>
				<td> {{ subject.kelas }} </td>
			</tr>
			<tr>
				<td> <b> Description </b> </td>
				<td> {{ subject.deskripsi }} </td>
			</tr>
		</tbody>
	  </table>

	  <table class="table table-bordered mx-5" style="width:90vw">
		  <tr> 
		  	<td> <b> Tasks </b> </td>
		  </tr>
		
		{% for x in overdue %}
		  <tr class="table-danger">
			<td> {{ x.tugas }} </td>
			<td> {{ x.deadline }} </td>
		  </tr>
		{% endfor %}

		{% for x in near %}
		  <tr class="table-warning">
			<td> {{ x.tugas }} </td>
			<td> {{ x.deadline }} </td>
		  </tr>
		{% endfor %}

		{% for x in far %}
		  <tr class="table-success">
			<td> {{ x.tugas }} </td>
			<td> {{ x.deadline }} </td>
		  </tr>
		{% endfor %}
	  </table>

	  <button class="btn btn-primary d-flex m-auto click"> 
		<a href="{% url 'story5:subject' %}" class="text-white">
			Back to Subject List
		</a>
	  </button>
  	</section>

{% endblock %}