<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  overflow: hidden;
  background-color: #E06679;
  padding: 30px 20px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

#navbar a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 40px;
  font-family: "Open Sans", sans-serif;
}

#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}

#navbar a:hover {
  background-color: #F4D35E;
  color: #ffffff;
}

#navbar a.active {
  background-color: dodgerblue;
  color: #E06679;
}

#navbar-right {
  float: right;
}

@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}
</style>
</head>
<body>

<!-- <div id="navbar">
  <a href="{% url 'story4:home' %}#hero" id="logo">🐾</a>
  <div id="navbar-right">
    <a class="" href="{% url 'story4:home' %}#hero">Home</a>
    <a href="{% url 'story4:home' %}#contact">Contact</a>
    <a href="{% url 'story4:home' %}#about">About</a>
    <a class="" href="{% url 'story5:subject' %}">My Subject</a>
    <a class="" href="{% url 'story6:activity' %}"> My Activities </a>
  </div>
</div> -->

<nav id = "navbar" class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">🐾</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'story4:home' %}#hero">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'story4:home' %}#contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'story5:subject' %}">My Subject</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'story6:activity' %}">My Activities</a>
      </li>
    </ul>
  </div>
</nav>

<script>
// When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
    document.getElementById("navbar").style.padding = "10px 10px";
    document.getElementById("logo").style.fontSize = "30px";
  } else {
    document.getElementById("navbar").style.padding = "50px 10px";
    document.getElementById("logo").style.fontSize = "45px";
  }
}
</script>

</body>
</html>
