{% extends 'base.html' %}
{% load static %}
{% block title %} Alifah Azka Nisrina {% endblock %}

{% block content %}
{% include 'navbar.html' %}
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

	<section id="hero">
		<div class="hero-container">
		<img class="profpic" src="{% static 'images/profile.jpg' %}" alt="Profile Picture">
		  <h1>Alifah Azka Nisrina <br></h1>
		  <h2>Let me tell u more about me</h2>
		</div>
	  </section><!-- #hero -->

  	<section id="about" class="container-fluid d-flex flex-wrap align-content-center ">
		<div class="section-header">
			<h3 class="section-title">ABOUT ME</h3>
		</div>
		  <section id="about">
			<div class="container">
			  <div class="row about-container">
				<div class="flex-container"> 
				</div>
				<div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
			  </div>
	  
			</div>
			<div class="row align-items-center justify-content-center">
				<div class="col-sm-5 mr-3">
					<div class="icon-box wow fadeInUp">
						<h4 class="title"><a href="">Full Name</a></h4>
						<p class="description">Alifah Azka Nisrina</p>
					  </div>
					<div class="icon-box wow fadeInUp">
						<div class="icon"><i class="fa fa-map-marker"></i></div>
						<h4 class="title"><a href="">Date Place of Birth</a></h4>
						<p class="description">Garut, 29 November 2001</p>
					  </div>
		  
					  <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
						<div class="icon"><i class="fa fa-graduation-cap"></i></div>
						<h4 class="title"><a href="">Education</a></h4>
						<p class="description">Undergraduate student at University of Indonesia <br>
						Student at Islamic Boarding School of College Student Al-Faqih Mandiri</p>
					  </div>
				</div>
				<div class="col-sm-4 mr-3">
					<img class="profpic" src="{% static 'images/profile.jpg' %}" alt="Profile Picture">
					<article class="text-justify">
						An organized and self-motivated human with the vision to collaborate the ideas with touch of detail and creativity. Possess the boldness to make decision and to deal with the challenges to reach her goals and objectives
					</article>
				</div>
				
	
			</div>
		  </section>

	</section>

	<section id="education" class="container-fluid">
		<section id="education">
			<div class="container wow fadeIn">
			  <div class="section-header">
				<h3 class="section-title">EDUCATION</h3>
				<p class="section-description">This is the place where i got my knowledge</p>
			  </div>
			  <div class="row">
				<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
				  <div class="box">
					<div class="icon"><a href=""><i class="fa fa-child"></i></a></div>
					<h4 class="title"><a href="">2007</a></h4>
					<p class="description">TK At-Taufiq,  Garut.</p>
				  </div>
				</div>
				<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
				  <div class="box">
					<div class="icon"><a href=""><i class="fa fa-pencil"></i></a></div>
					<h4 class="title"><a href="">2008-2010</a></h4>
					<p class="description">SDN Paminggir IV, Garut</p>
				  </div>
				</div>
				<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
				  <div class="box">
					<div class="icon"><a href=""><i class="fa fa-pencil"></i></a></div>
					<h4 class="title"><a href="">2010-2013</a></h4>
					<p class="description">SDN Perumnas Cijerah 1, Bandung</p>
				  </div>
				</div>
	  
				<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
				  <div class="box">
					<div class="icon"><a href=""><i class="fa fa-paper-plane"></i></a></div>
					<h4 class="title"><a href="">2013-2016</a></h4>
					<p class="description">SMPN 1 Bandung</p>
				  </div>
				</div>
				<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
				  <div class="box">
					<div class="icon"><a href=""><i class="fa fa-book"></i></a></div>
					<h4 class="title"><a href="">2016-2019</a></h4>
					<p class="description">SMAN 8 Bandung</p>
				  </div>
				</div>
				<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
				  <div class="box">
					<div class="icon"><a href=""><i class="fa fa-graduation-cap"></i></a></div>
					<h4 class="title"><a href="">2019-now</a></h4>
					<p class="description">University of Indonesia <br>
					Information System, Computer Science
					</p>
				  </div>
				</div>
			  </div>

			</div>
		   
		  </section><!-- #education -->
	</section>

	<section id="activities">
		<div class="container wow fadeInUp">
		  <div class="section-header">
			<h3 class="section-title">Recent Activities</h3>
			<p class="section-description">my activities with my friends</p>
		  </div>
		  <div class="row">
			<div class="col-lg-3 col-md-6">
			  <div class="member">
				<div class="pic"><img src="{% static 'images/team-1.jpg' %}" alt=""></div>
				<h4>GTA Girls!</h4>
				<span>Balkon PPM Al-Faqih Mandiri</span>
				<div class="social">
				</div>
			  </div>
			</div>
  
			<div class="col-lg-3 col-md-6">
			  <div class="member">
				<div class="pic"><img src="{% static 'images/team-2.jpg' %}" alt=""></div>
				<h4>Cook and Work?</h4>
				<span>Sekre-Dapur PPM Al-Faqih Mandiri</span>
				<div class="social">
				</div>
			  </div>
			</div>
  
			<div class="col-lg-3 col-md-6">
			  <div class="member">
				<div class="pic"><img src="{% static 'images/team-3.jpg' %}" alt=""></div>
				<h4>Panitia PSB - OSA 2020</h4>
				<span>Halaman Mesjid Fatimah PPM Al-Faqih Mandiri</span>
				<div class="social">
				</div>
			  </div>
			</div>
  
			<div class="col-lg-3 col-md-6">
			  <div class="member">
				<div class="pic"><img src="{% static 'images/team-4.jpg' %}" alt=""></div>
				<h4>Play Play Play!</h4>
				<span>Mesjid Fatimah PPM Al-Faqih Mandiri</span>
				<div class="social">
				</div>
			  </div>
			</div>
		  </div>
  
		</div>
	  </section><!-- #Hobbies and Activities -->

	  <section id="contact">
		<div class="container wow fadeInUp">
		  <div class="section-header">
			<h3 class="section-title">Contact</h3>
			<p class="section-description">Contact me if you have any question or you want me to join your project!</p>
		  </div>
		</div>
  
		<div class="container wow fadeInUp mt-5">
		  <div class="row justify-content-center">
  
			<div class="col-lg-3 col-md-4">
  
			  <div class="info">
				<div>
				  <i class="fa fa-map-marker"></i>
				  <p>Gg Kebon Kangkung No. 11 B<br>Kiaracondong, Kota Bandung 40284</p>
				</div>
  
				<div>
				  <i class="fa fa-envelope"></i>
				  <p>alifah.azka@ui.ac.id</p>
				</div>
  
				<div>
				  <i class="fa fa-phone"></i>
				  <p>+62 85773522390</p>
				</div>
			  </div>
  
			  <div class="social-links">
				<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
				<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
				<a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
				<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
				<a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
			  </div>
  
			</div>    
		  </div>
  
		</div>
	  </section><!-- #contact -->
	  <!-- #about -->


{% endblock %}